@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative z-1 bg-whiten font-uthman text-base font-normal text-body;
  }
  @font-face {
    font-family: "Uthman";
    font-display: swap;
    src: url(https://quran.com/fonts/quran/hafs/uthmanic_hafs/UthmanicHafs1Ver18.woff2)
      format("woff2");
  }
}

@layer components {
}

@layer utilities {
}
